:root {
  --color-white: #fefefe;
  --color-green: #219653;
  --color-yellow: #f2c94c;
  --color-blue: #2f80ed;
  --color-red: #eb5757;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.category-container {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
}

/* Category Page */
.category-body {
  width: 100%;
  height: calc(100vh - 110px);
  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 48px;

  color: var(--color-red);
  text-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
}

.categories {
  width: 100%;
  height: 100%;
  max-height: 187px;

  display: flex;
  justify-content: center;

  margin-top: 94px;
}

.category {
  width: 100%;
  height: 100%;
  max-width: 187px;
  max-height: 187px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--color-white);
  font-weight: 700;
}

.sport,
.lifestyle {
  background-color: var(--color-green);
}
.health,
.transportation {
  background-color: var(--color-yellow);
}
.weather {
  background-color: var(--color-blue);
}

.category:hover {
  opacity: 0.8;
}
/* Category Page */
/* ========================= */
/* About Page */
.containerAbout {
  background-image: url("../images/backgreen.jpg");
  background-size: cover;
  height: 100vh;
}
.about {
  padding-top: 80px;
}
/*  Page title design  / Company brand name */
.anaglyph {
  letter-spacing: 6px;
  text-shadow: red 0 0, cyan 0 0;
  transition: text-shadow 200ms;
}

.anaglyph:hover {
  text-shadow: red -6px 0, cyan 6px 0;
}

.about-text {
  text-align: center;
  padding-top: 40px;
}
.containerImageAbout {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* About Page */


/* Home Page */
.beritaRekom {
  padding-top: 80px;
}
.clear{
  float: none;
  clear: both;
}

.center{
  width: 1000px;
  margin: 0 auto;
  padding-top: 80px;
}

*{
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

/* beritaRekom */
#beritaRekom{
  padding: 20px 0 5px 0;
}

#beritaRekom .judul{
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.rekomendasi{
  width: 1000px;
  overflow: hidden;
  margin-top: 5px;
}

.rekomendasi .rekomKiri{
  width: 475px;
  float: left;
  margin-right: 5px;
  padding: 0px 10px 10px 10px;
  background: #c0c0c0;
}

.rekomendasi p{
  text-align: justify;
}

.rekomendasi img{
  width: 300px;
  height: 170px;
  box-shadow: 5px 5px 2px #333;
  position: center;
}

.rekomendasi h3{
  font-size: 15px;
  color: black;
}

.rekomendasi .rekomKanan{
  width: 475px;
  float: left;
  margin-left: 5px;
  padding: 0px 10px 10px 10px;
  background: #c0c0c0;
}

.rekomendasi a{
  text-decoration: none;
  color: blue;
}

.rekomendasi h3 a:hover{
  background: white;
  color: #0b64cd;
}

.tutor-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.tengah {
  text-align: center;
  width: 100%;
}

.kartu-tutor {
  width: 20%;
  margin: 0 auto;
}

.kartu-tutor img {
  width: 80%;
  border-radius: 50%;
}

.kartu-tutor p {
  font-family: 'Arial';
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: #333;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 30px 0px 30px 0px;
  margin-top: 50px;
  background-color: black;
}
/* Home Page */
